html,
body {
    margin: 0;
    padding: 0;
    color: var(--black);
    background: #f5f6f8;

    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing:border-box;
}

.visuallyHidden {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}

:root {
    --black: #3B434E;
    --gray-light: #EBEBEB;
    --gray-dark: #6c7077;
    --gray: #A4A4A4;
    --white: white;
    --primary: #7351f5;
    --primary-hover: #5c42c1;
    --green: #007b48;
    --green-light: #C8F8E4;
    --font-family: 'Noto Sans KR', sans-serif;
    --red: #DE0000;
    --red-light: #f38e8e;
}